.footer {
  display: flex;
  background-image: linear-gradient(-135deg, #489cef, #175da7);
  border-top: 1px solid #333;
  align-items: center;
  text-justify: center;
}

.footer .menu {
  display: flex;
  margin: 0 auto;
}

.footer .copyright {
  color: #fff;
  font-size: 0.8em;
  margin: 1rem;
}

.footer .social {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.footer li {
  margin: 0 6px;
  list-style: none;
}

.footer a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
footer img {
  width: 20px;
}
